/*
--basic reset
*/

body {
  margin: 1em 2.5em 0em 2.5em;
}


/*
--typography
*/

a {
  text-decoration: none;
}

/*
--structure
*/

.categories {
  float: left;
  margin-left: 2.5em;
}

.categories a {
  color: black;
  padding: 2em 2em;
  font-family: ProximaNova-Regular, sans-serif;
  font-size: .6em;
  text-transform: uppercase;
}

.social {
  float: right;
  margin-right: 2.5em;
}

.social a {
  padding: 0em 2em;
}

.header {
  padding-top; 1em;
  display: flex;
}

#two {
  transform: rotate(180deg);
}

/*
--general use
*/


/*
--images
*/

.jumbotron img {
  width: 160px; /*og 640 */
  height: 106.5px; /*og 426*/
  border: none;
}

div.social img {
  width: 14px;
  height: 14px;
}

div.latest img {
  width: 156px; /*og 624*/
  height: 104px; /*og 416*/
}
