/*
--typography
*/



/*
--structure
*/



/*
--general use
*/


/*
--images
*/

div.social img {
  width: 12px;
  height: 12px;
}

div.latest img {
  width: 208px; /*og 624*/
  height: 138.67px; /*og 416*/
}
