/*
--typography
*/

a {
  text-decoration: none;
}

/*
--structure
*/



/*
--general use
*/


/*
--images
*/

.jumbotron img {
  width: 160px;
  height: 106.5px;
}

#two {
  transform: rotate(180deg);
}

div.social img {
  width: 16px;
  height: 16px;
}

div.latest img {
  width: 156px; /*og 624*/
  height: 104px; /*og 416*/
}
